# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Environment
.env

# Models
models/

# Build output
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/settings.json
*.swp

# Images and Personal Files
assets/dossier_descriptions/
assets/dossier_images/